{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to Dough Flow!</h1>

    <h2>What is Dough Flow?</h2>
    <blockquote>
        Dough Flow is intended to be a simple budget forecasting software. You will be able to see
        a summary of your high and low balances, as well as detailed view for seeing each transaction
        throughout your chosen range of time.
    </blockquote>

    <a href="{{ path('create_account') }}">Let's get started!</a>
{% endblock %}
