{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accounts</h1>
    <ul>
    {% for account in accounts %}
        <li>{{ account.name }} ({{ account.type }}) <a href="{{ path('edit_account', {'id': account.id}) }}">Edit</a></li>
    {% endfor %}
    </ul>
{% endblock %}